# Gradle caches
.gradle/
.kotlin/

# Build output
build/
**/build/

# Android Studio local files
# Ignore everything in .idea EXCEPT shared run configurations
.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/**

# Local Android SDK configuration
local.properties

# JVM crash dumps
*.hprof

# Local backend database
backend/api/data/